@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f5f5f5;
  /* background-image: url('https://utfs.io/f/8f4dbd43-132d-4c48-a62b-a19c6753b92b-n09cpl.jpg'); */
}

main {
  flex: 1;
}

@layer components {
  .active_navigation_bar {
    @apply font-bold
  }
}

#image-login {
  background-image: url('https://utfs.io/f/4535d575-6d47-4591-928d-bd92d171135e-9uv0jw.webp');
}

#image-register {
  background-image: url('https://utfs.io/f/3d112a1f-77f0-4862-8f85-dbc89f2f553d-1tmyye.webp');
}

.custom-loader {
  /* width: 40px; */
  /* height: 40px; */
  border-radius: 50%;
  background:
    radial-gradient(farthest-side, green 94%, #0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%, green);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: s3 0.5s infinite linear;
}

@keyframes s3 {
  100% {
    transform: rotate(1turn)
  }
}

.underline {
  height: 2px;
  background-color: transparent;
  width: 50%;
  transition: width 0.2s, background-color 0.5s;
  margin: 0 auto;
  -webkit-transition: width 0.2s, background-color 0.5s;
  -moz-transition: width 0.2s, background-color 0.5s;
  -ms-transition: width 0.2s, background-color 0.5s;
  -o-transition: width 0.2s, background-color 0.5s;
  -webkit-transition: width 0.2s, background-color 0.5s;
}

.active_link .underline {
  width: 100%;
  background-color: green;
}

.active_link {
  color: green;
}

.bg-nav {
  background: rgba(228, 240, 229, 0.95);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.radio-inputs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  /* background-color: #EEE; */
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  /* padding: 0.25rem; */
  width: 300px;
  font-size: 14px;
}

.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: .5rem 0;
  color: rgba(51, 65, 85, 1);
  transition: all .15s ease-in-out;
}

.radio-inputs .radio input:checked+.name {
  background-color: #fff;
  font-weight: 600;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}