@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('/bgbody.jpg');
}

main {
  flex: 1;
}

@layer components {
  .active_navigation_bar {
    @apply font-bold
  }
}

#image-login {
  background-image: url('/assets/airterjun.webp');
}

#image-register {
  background-image: url('/assets/tenun.webp');
}

.custom-loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side, green 94%, #0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%, green);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: s3 0.5s infinite linear;
}

@keyframes s3 {
  100% {
    transform: rotate(1turn)
  }
}

.underline {
  height: 2px;
  background-color: transparent;
  width: 50%;
  transition: width 0.2s, background-color 0.5s;
  margin: 0 auto;
  -webkit-transition: width 0.2s, background-color 0.5s;
  -moz-transition: width 0.2s, background-color 0.5s;
  -ms-transition: width 0.2s, background-color 0.5s;
  -o-transition: width 0.2s, background-color 0.5s;
  -webkit-transition: width 0.2s, background-color 0.5s;
}

.active_link .underline {
  width: 100%;
  background-color: green;
}

.active_link {
  color: green;
}

.bg-nav {
  background: rgba(228, 240, 229, 0.95);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}